<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.javademo.mapper.AuthMapper">
    <select id="getPath" resultType="java.lang.String">
        select rp.menu from user u join roles r on u.id = r.user_id join roleandpath rp on r.role = rp.role where u.user_name = #{username}
    </select>
</mapper>